@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<p>DashboardUser</p>

<iframe src="https://embed.lottiefiles.com/animation/50124"></iframe>